# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Connor Griffin
email: connor@connorcg.com
description: >- # this means to ignore newlines until "baseurl:"
  Systems Administrator with a primary focus on PowerShell scripting, trying to
  automate everything.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.connorcg.com" # the base hostname & protocol for your site, e.g. http://example.com
excerpt_separator: "<!--more-->"   # Workaround for http://blog.slaks.net/2013-08-09/jekyll-tag-was-never-closed/
google_analytics: UA-19161168-1
#twitter_username: connorcg
github_username:  ConnorGriffin
linkedin_username: connor-griffin-b8b5b0103

show_excerpts: true

disqus:
  shortname: connorcg

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-gist

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
